@media (max-width: 1024px) {
  .service-section-3-wrapper {
    text-align: center;
    // height: 1140px;
    .title {
      color: #002e6d;
      text-align: left;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 40px;
    }
    .image-wrapper {
      text-align: center;

      .separator {
        height: 1px;
        max-width: 504px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        background-image: radial-gradient(
          circle farthest-corner at 50% 50%,
          #ffbf00 27%,
          #fff
        );
      }

      .partners-section {
        width: 100%;

        .image {
          width: 100%;
        }

        .title {
          margin-top: 50px;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #002e6d;
        }
      }

      .accelerators-section {
        width: 100%;

        .image {
          margin-top: 30px;
          width: 100%;
        }

        .title {
          margin-top: 50px;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #000000;
        }
      }

      .pitches-section {
        width: 100%;
        .image {
          margin-top: 30px;
          width: 100%;
        }
        // width: 100%;
        .title {
          margin-top: 50px;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #000000;
        }

        .insurtech {
          margin-top: 40px;
        }

        .innovation {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .service-section-3-wrapper {
    text-align: center;
    height: 280px;
    .title {
      color: #002e6d;
      text-align: center;
      position: absolute;
      left: 500px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      margin-top: -30px;
    }

    .image-wrapper {
      display: block;
      width: 95%;
      text-align: left;
      margin-top: -90px;

      .partners-section {
        display: block;
        text-align: center;

        .image-row {
          display: inline-flex;
          // margin-top: 10px;
          align-items: center;
          padding: 30px;

          .mltply {
            position: absolute;
            right: 140px;
            top: -10px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: -20px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: -5px;
          }

          @-moz-document url-prefix() {
            .mltply {
            position: absolute;
            right: 140px;
            top: 45px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: 35px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: 48px;
          }
          }

          .image1 {
          }
          .image2 {
          }
          .image3 {
          }
        }

        .title {
          font-size: 18px;
          font-style: normal;
          position: absolute;
          right: 270px;
          top: 50px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          color: #303030;
        }
      }

      .lower-section-wrapper {
        display: inline-flex;
        text-align: center;
        padding: 0 120px;
        width: 100%;
        margin-top: 30px;

        .left {
          width: 58%;
          .accelerators-section {
            display: block;
            text-align: center;
            .image-stack {
              margin-top: 20px;

              .hartford {
                position: absolute;
                left: 200px;
                top: 295px;
              }

              .insurtechny {
                position: absolute;
                left: 200px;
                top: 400px;
              }
            }
            .title {
              text-align: center;
              font-size: 18px;
              font-style: normal;
              position: absolute;
              left: 197px;
              width: 200px;
              top: 136px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              color: #303030;
            }
          }
        }

        .right {
          width: 50%;
          .pitches-section {
            display: block;
            text-align: center;
            .image-stack {
              // display: inline-grid;
              margin-top: 5px;

              .image {
                margin-top: 20px;
              }

              .gri {
                position: absolute;
                right: 160px;
                top: 315px;
              }
              .shared-mobility {
                position: absolute;
                right: 130px;
                top: 385px;
              }
              .insurtech-rising {
                position: absolute;
                right: 130px;
                top: 475px;
              }
            }
            .title {
              text-align: center;
              font-size: 18px;
              font-style: normal;
              position: absolute;
              left: 100px;
              width: 200px;
              top: 237px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              color: #303030;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1400px) {
  .service-section-3-wrapper {
    text-align: center;
    height: 280px;
    .title {
      color: #002e6d;
      text-align: center;
      position: absolute;
      left: 430px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      margin-top: -30px;
    }

    .image-wrapper {
      display: block;
      width: 95%;
      text-align: left;
      margin-top: -90px;

      .partners-section {
        display: block;
        text-align: center;

        .image-row {
          display: inline-flex;
          // margin-top: 10px;
          align-items: center;
          padding: 30px;

          .mltply {
            position: absolute;
            right: 110px;
            top: -10px;
          }

          .guy {
            position: absolute;
            right: 305px;
            top: -20px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: -5px;
          }

          @-moz-document url-prefix() {
            .mltply {
            position: absolute;
            right: 140px;
            top: 45px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: 35px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: 48px;
          }
          }

          .image1 {
          }
          .image2 {
          }
          .image3 {
          }
        }

        .title {
          font-size: 18px;
          font-style: normal;
          position: absolute;
          right: 270px;
          top: 50px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          color: #303030;
        }
      }

      .lower-section-wrapper {
        display: inline-flex;
        text-align: center;
        padding: 0 120px;
        width: 100%;
        margin-top: 30px;

        .left {
          width: 58%;
          .accelerators-section {
            display: block;
            text-align: center;
            .image-stack {
              margin-top: 20px;

              .hartford {
                position: absolute;
                left: 200px;
                top: 295px;
              }

              .insurtechny {
                position: absolute;
                left: 200px;
                top: 400px;
              }
            }
            .title {
              text-align: center;
              font-size: 18px;
              font-style: normal;
              position: absolute;
              left: 197px;
              width: 200px;
              top: 136px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              color: #303030;
            }
          }
        }

        .right {
          width: 50%;
          .pitches-section {
            display: block;
            text-align: center;
            .image-stack {
              // display: inline-grid;
              margin-top: 5px;

              .image {
                margin-top: 20px;
              }

              .gri {
                position: absolute;
                right: 160px;
                top: 315px;
              }
              .shared-mobility {
                position: absolute;
                right: 130px;
                top: 385px;
              }
              .insurtech-rising {
                position: absolute;
                right: 130px;
                top: 475px;
              }
            }
            .title {
              text-align: center;
              font-size: 18px;
              font-style: normal;
              position: absolute;
              left: 100px;
              width: 200px;
              top: 237px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0em;
              color: #303030;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .service-section-3-wrapper {
    text-align: center;
    height: 375px;
    .title {
      color: #002e6d;
      text-align: left;
      font-family: Rubik;
      font-style: normal;
      left: 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 40px;
    }
    .image-wrapper {
      display: block;
      width: 95%;
      text-align: left;
      margin-top: 100px;

      .partners-section {
        display: block;
        text-align: center;

        .image-row {
          display: block;
          // margin-top: 10px;

          .mltply {
            // position: absolute;
            // right: 140px;
            top: 100px;
            left: 75px;
          }

          .guy {
            margin-top: 30px;
            left: 30px;
          }

          .ils {
            // position: absolute;
            left: 65px;
            top: -70px;
          }

          @-moz-document url-prefix() {
            .mltply {
            position: absolute;
            right: 140px;
            top: 45px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: 35px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: 48px;
          }
          }

          .image1 {
          }
          .image2 {
          }
          .image3 {
          }
        }

        .title {
          font-size: 18px;
          font-style: normal;
          position: absolute;
          right: 270px;
          top: 50px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          color: #303030;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .service-section-3-wrapper {
    text-align: center;
    height: 375px;
    .title {
      color: #002e6d;
      text-align: left;
      font-family: Rubik;
      font-style: normal;
      left: 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 40px;
    }
    .image-wrapper {
      display: block;
      width: 95%;
      text-align: left;
      margin-top: 100px;

      .partners-section {
        display: block;
        text-align: center;

        .image-row {
          display: block;
          // margin-top: 10px;

          .mltply {
            // position: absolute;
            // right: 140px;
            top: 100px;
            left: 45px;
          }

          .guy {
            margin-top: 30px;
            left: 10px;
          }

          .ils {
            // position: absolute;
            left: 45px;
            top: -70px;
          }

          @-moz-document url-prefix() {
            .mltply {
            position: absolute;
            right: 140px;
            top: 45px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: 35px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: 48px;
          }
          }

          .image1 {
          }
          .image2 {
          }
          .image3 {
          }
        }

        .title {
          font-size: 18px;
          font-style: normal;
          position: absolute;
          right: 270px;
          top: 50px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          color: #303030;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .service-section-3-wrapper {
    text-align: center;
    height: 375px;
    .title {
      color: #002e6d;
      text-align: left;
      font-family: Rubik;
      font-style: normal;
      left: 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 40px;
    }
    .image-wrapper {
      display: block;
      width: 95%;
      text-align: left;
      margin-top: 100px;

      .partners-section {
        display: block;
        text-align: center;

        .image-row {
          display: block;
          // margin-top: 10px;

          .mltply {
            // position: absolute;
            // right: 140px;
            top: 100px;
            left: 25px;
          }

          .guy {
            margin-top: 30px;
            left: -10px;
          }

          .ils {
            // position: absolute;
            left: 25px;
            top: -70px;
          }

          @-moz-document url-prefix() {
            .mltply {
            position: absolute;
            right: 140px;
            top: 45px;
          }

          .guy {
            position: absolute;
            right: 415px;
            top: 35px;
          }

          .ils {
            position: absolute;
            left: 200px;
            top: 48px;
          }
          }

          .image1 {
          }
          .image2 {
          }
          .image3 {
          }
        }

        .title {
          font-size: 18px;
          font-style: normal;
          position: absolute;
          right: 270px;
          top: 50px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          color: #303030;
        }
      }
    }
  }
}