@media (max-width: 450px) {
  .image-wrapper {
    text-align: center;

    .separator {
      height: 1px;
      max-width: 504px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      background-image: radial-gradient(
        circle farthest-corner at 50% 50%,
        #ffbf00 27%,
        #fff
      );
    }

    .partners-section {
      width: 100%;

      .title {
        margin-top: 50px;
      }
    }

    .accelerators-section {
      // width: 100%;

      .title {
        margin-top: 20px;
      }
    }

    .pitches-section {
      // width: 100%;
      .title {
        margin-top: 90px;
      }

      .insurtech {
        margin-top: 40px;
      }

      .innovation {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 500px) {
  .title {
    width: 100vw;
    
  }

  .image-wrapper {
    display: inline-flex;
    width: 95%;
    text-align: left;
    padding: 0 00px;

    .partners-section {
      width: 50%;
      display: block;
      text-align: center;

      .image {
        width: 70%;
      }

      .title {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }

    .accelerators-section {
      width: 50%;
      display: block;
      text-align: center;

      .image {
        width: 70%;
        margin-top: 30px;
      }

      .title {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }

    .pitches-section {
      width: 50%;
      display: block;
      text-align: center;

      .image {
        width: 80%;
        margin-top: 50px;
      }

      .title {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}
