@media (min-width: 1000px) {
  .modal {
    background-color: #475ba1;
  }
  .value-index-wrapper {
    height: 400px;

    .inner-wrapper {
      height: 600px;
      .title {
        width: 700px;
        height: 129px;
        left: 0;
        position: absolute;
        bottom: 70px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 60px;
        color: #002e6d;
      }

      .section-wrapper {
        display: inline-flex;
        width: 100%;

        .left {
          .text {
            .p-text1 {
              position: absolute;
              top: 40px;
              width: 662px;
              font-family: Rubik;
              font-style: normal;
              font-weight: normal;
              font-size: 22px;
              line-height: 30px;

              .bold {
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: #0a3774;
              }
            }
          }
        }

        .right {
          width: 100%;

          .item-wrapper {
            width: 70%;
            margin-top: 35px;
            position: absolute;

            .inner-item-wrapper {
              display: inline-flex;

              i {
                color: #ffae13;
                font-size: 1em;
                left: 830px;
                bottom: 70px;
                position: absolute;
                padding-right: 20px;
                font-size: 200px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
              }

              .text-wrapper {
                margin: auto;
                .item-title {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  font-weight: 800;
                  color: #002e6d;
                }

                .text {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #002e6d;
                  width: 20vw;
                }
              }
            }
          }
        }
      }

      .text {
        > p {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          width: 75%;
          margin-top: 30px;
          height: 0vh;
          color: #000000;
        }
      }

      .button-wrapper {
        text-align: left;
        margin: auto;
        margin-bottom: -150px;

        button {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          height: 50px;
          top: 200px;
          position: absolute;
          left: 830px;
          line-height: 30px;
          letter-spacing: 0em;
          width: 386px;
          color: #f6f6f6;
        }

        i {
          margin-left: 10px;
        }
      }

      .form-wrapper {
        position: absolute;
        bottom: 100px;
        top: 10px;
        left: 700px;
        display: inline-flex;
        padding-top: 20px;

        #button {
          height: 50px;
          border-radius: 8px;
          width: 223px;
          position: absolute;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          bottom: 0px;
          top: 20px;
          left: 350px;
        }
      }
      .form-control {
        height: 50px;
        width: 500px !important;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 450px) {
  .value-index-wrapper {
    .inner-wrapper {
      // display: inline-flex;
      height: 570px;
      .title {
        font-family: Rubik;
        width: 333px;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: #002e6d;
        margin-bottom: 30px;
        font-family: Rubik;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
      }

      .section-wrapper {
        // display: inline-flex;
        // width: 96vw;
        // height: 136vh;

        .left {
          width: 100%;

          .text {
            width: 100%;
            .p-text1 {
              width: 100%;
              font-size: 18px;
            }

            .p-text2 {
              width: 100%;
              margin-top: 230px;
            }
          }
        }

        .right {
          margin-top: 110px;
          width: 100%;

          .item-wrapper {
            width: 100%;
            margin-top: 0px;

            .inner-item-wrapper {
              // display: inline-flex;
              text-align: center;

              i {
                color: #ffae13;
                margin: auto;
                font-size: 3em;
                padding-right: 50px;
                margin-top: -360px;
                margin-left: -90px;
                position: absolute;
              }

              .text-wrapper {
                margin: auto;
                width: 100%;
                .item-title {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  font-weight: 800;
                  width: 100%;

                  color: #002e6d;
                }

                .text {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: black;
                }
              }
            }
          }
        }
      }

      .text {
        > p {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          width: 75%;
          margin-top: 30px;
          height: 0vh;
          color: #000000;
        }
      }

      .button-wrapper {
        text-align: left;
        margin-top: 380px;

        button {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          height: 50px;
          line-height: 30px;
          letter-spacing: 0em;
          color: #002e6d;
          width: 100%;
        }

        i {
          margin-left: 5px;
        }
      }
    }
  }
}
