@media (min-width: 1000px) {
  .service-section-4-wrapper {
    text-align: center;
    width: 100%;
    height: 280px;

    .title {
      text-align: center;
      color: #002e6d;
      position: absolute;
      left: 500px;
      width: 300px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 60px;
      margin-left: 150px;
      width: 700px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1400px) {
  .service-section-4-wrapper {
    text-align: left;
    width: 100%;
    height: 245px;
    .title {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      text-align: center !important;
      color: #002e6d;
      left: 500px;
      font-size: 36px;
      line-height: 40px;
      width: 100%;
    }
    p {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      width: 630px !important;
      margin-left: 25px !important;
      text-align: center;
      /* or 137% */

      color: #000000;
    }
  }
}

@media (max-width: 900px) {
  .service-section-4-wrapper {
    text-align: left;
    width: 100%;
    height: 200px;
    .title {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      color: #002e6d;
      left: 500px;
      font-size: 36px;
      line-height: 40px;
      width: 100%;
    }
    p {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      width: 100%;
      margin-left: 0px;
      /* or 137% */

      color: #000000;
    }
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .service-section-4-wrapper {
        text-align: left;
        width: 100%;
        height: 175px;
      }
    }
  }
}
