@media (min-width: 1000px) {
  .features-index-wrapper2 {
    .inner-wrapper {
      padding: 0 60px;
      display: inline-flex;
      margin-bottom: -100px;

      .title {
        font-family: Rubik;
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        width: 80vw;
        color: #002e6d;
        margin-bottom: 30px;
      }

      .section-wrapper {
        display: inline-flex;
        width: 96vw;

        .left {
          width: 118vw;
        }

        .right {
          width: 70%;

          .item-wrapper {
            width: 70%;
            margin-top: 35px;

            .inner-item-wrapper {
              display: inline-flex;

              span {
                color: #ffae13;
                margin: auto;
                font-size: 1em;
                padding-right: 20px;
              }

              .text-wrapper {
                margin: auto;
                .item-title {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  font-weight: 800;
                  color: #002e6d;
                }

                .text {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #002e6d;
                  width: 20vw;
                }
              }
            }
          }
        }
      }

      .text {
        > p {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          width: 75%;
          margin-top: 30px;
          height: 0vh;
          color: #000000;
        }
      }

      .button-wrapper {
        text-align: left;
        margin: auto;
        margin-bottom: -150px;

        button {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          height: 50px;

          line-height: 30px;
          letter-spacing: 0em;
          width: 334px;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .features-index-wrapper2 {
    .inner-wrapper {
      padding: 0 0px;
      // display: inline-flex;
      margin-bottom: -100px;

      .title {
        font-family: Rubik;
        font-size: 55px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        width: 80vw;
        color: #002e6d;
        margin-bottom: 30px;
      }

      .section-wrapper {
        // display: inline-flex;
        width: 96vw;
        height: 136vh;

        .left {
          width: 100%;

          .text {
            width: 100%;
            .p-text1 {
              width: 100%;
            }

            .p-text2 {
              width: 100%;
              margin-top: 230px;
            }
          }
        }

        .right {
          margin-top: 140px;
          width: 100%;

          .item-wrapper {
            width: 100%;
            margin-top: 35px;

            .inner-item-wrapper {
              // display: inline-flex;

              span {
                color: #ffae13;
                margin: auto;
                font-size: 1em;
                padding-right: 20px;
              }

              .text-wrapper {
                margin: auto;
                width: 100%;
                .item-title {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  font-weight: 800;
                  width: 100%;

                  color: #002e6d;
                }

                .text {
                  font-family: Rubik;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: black;
                }
              }
            }
          }
        }
      }

      .text {
        > p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          width: 75%;
          margin-top: 30px;
          height: 0vh;
          color: #303030;
        }
      }

      .button-wrapper {
        text-align: left;
        margin-top: 660px;
        position: absolute;

        button {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          height: 50px;

          line-height: 30px;
          letter-spacing: 0em;
          width: 334px;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
