.features-index-wrapper {
  .inner-wrapper {
    padding: 0 60px;
    display: inline-flex;
    margin-bottom: -100px;

    .title {
      font-family: Rubik;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
      width: 80vw;
      color: #002e6d;
      margin-bottom: 30px;
    }

    .section-wrapper {
      display: inline-flex;
      width: 96vw;

      .left {
        width: 118vw;
      }

      .right {
        width: 70%;

        .item-wrapper {
          width: 70%;
          margin-top: 35px;

          .inner-item-wrapper {
            display: inline-flex;

            i {
              color: #ffae13;
              margin: auto;
              font-size: 1em;
              padding-right: 20px;
            }

            .text-wrapper {
              margin: auto;
              .item-title {
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                font-weight: 800;

                color: #002e6d;
              }

              .text {
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #002e6d;
                width: 20vw;
              }
            }
          }
        }
      }
    }

    .text {
      > p {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        width: 75%;
        margin-top: 30px;
        height: 0vh;
        color: #000000;
      }
    }

    .button-wrapper {
      text-align: left;
      margin: auto;
      margin-bottom: -150px;

      button {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        height: 50px;

        line-height: 30px;
        letter-spacing: 0em;
        width: 334px;
      }

      i {
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 400px) {
  .features-index-wrapper {
    .title {
      color: #ffae13;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
    }

    .text {
      > p {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        width: 75%;
        margin-top: 30px;
        height: 0vh;
      }
    }

    .sections-wrapper {
      margin-top: 200px;
      cursor: default;
      text-align: center;
      .top-row {
        display: block;
        .section1 {
          display: block;
          width: 100%;

          .section-title-row {
            background-color: #f7f7f7;
            border-radius: 6px;
            display: inline-flex;
            font-weight: bold;
            width: 100%;
            padding: 20px 20px;
            font-size: 16px;
            .section-title-number {
              color: #002e6d;
              margin-right: 10px;
            }

            .section-title-text {
              color: #002e6d;
            }
          }

          .text-wrapper {
            width: 100%;
            text-align: left;

            .text-title {
              color: #ffb748;
            }

            .statement {
              color: white;
              padding: 30px 0px;
            }
          }
        }
        .section2 {
          width: 100%;
          display: block;

          .section-title-row {
            width: 100%;
            padding: 20px 20px;
            background-color: #f7f7f7;
            display: inline-flex;
            border-radius: 6px;
            font-size: 15px;
            font-weight: bold;

            .section-title-number {
              color: #002e6d;
              margin-right: 10px;
            }

            .section-title-text {
              color: #002e6d;
            }
          }

          .text-wrapper {
            width: 100%;
            padding: 20px 50px;
            text-align: left;

            .text-title {
              color: #ffb748;
            }

            .statement {
              color: white;
              padding: 30px 0px;
            }
          }
        }
      }
      .bottom-row {
        width: 100%;
        display: block;
        .section3 {
          display: block;
          width: 100%;

          .section-title-row {
            background-color: #f7f7f7;
            border-radius: 6px;
            width: 100%;
            display: inline-flex;
            font-weight: bold;
            font-size: 16px;

            .section-title-number {
              color: #002e6d;
              margin-right: 10px;
              margin: auto;
            }

            .section-title-text {
              color: #002e6d;
              font-weight: bold;
              width: 100%;
            }
          }

          .text-wrapper {
            width: 100%;
            padding: 20px 50px;
            text-align: left;

            .text-title {
              color: #ffb748;
            }

            .statement {
              color: white;
              padding: 30px 0px;
            }
          }
        }
        .section4 {
          display: block;
          width: 100%;

          .section-title-row {
            width: 100%;
            background-color: #f7f7f7;
            display: inline-flex;
            border-radius: 6px;
            font-weight: bold;
            font-size: 16px;

            .section-title-number {
              color: #002e6d;
              margin-right: 10px;
              margin: auto;
            }

            .section-title-text {
              color: #002e6d;
            }
          }

          .text-wrapper {
            width: 100%;
            padding: 20px 50px;
            text-align: left;

            .text-title {
              color: #ffb748;
            }

            .statement {
              color: white;
              padding: 30px 0px;
            }
          }
        }
      }
    }

    .button-wrapper {
      text-align: left;
      margin: auto;
      margin-top: -70px;
      margin-bottom: 30px;

      button {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        width: 334px;
        height: 50px;
      }

      i {
        margin-left: 5px;
        font-size: 3em;
      }
    }
  }
}
