@media (min-width: 1025px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    height: 580px;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 700px;
    }
    .title {
      text-align: center;
      color: #002e6d;
      position: absolute;
      margin-left: 490px;
      width: 300px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #303030;
      width: 659px;
      margin-left: 310px;
      top: 150px;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 80px;
      margin-left: 150px;
      width: 700px;
    }

    .form-wrapper {
      position: absolute;
      margin-left: 260px;
      top: 250px;
      width: 100%;

      .invalid-email {
        font-size: 17px;
        margin-top: -25px;
        margin-left: 30px;
        font-weight: bold;
        color: #ffae13;
        position: absolute;
      }

      input {
        width: 751px;
        padding: 0.7rem 0.9rem;
        border: 1px solid #92afd6;
        color: #92afd6;
      }

      textarea {
        resize: none;
        width: 751px;
        height: 161px;
        border: 1px solid #92afd6;
        color: #92afd6;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}
.modal {
  .confirmation-modal-content-wrapper {
    padding: 20px;
    height: 280px;
    .button {
      width: 208px;
      background: #3b358a;
      color: white;
      height: 50px;
      margin-top: -0px;
      border-radius: 8px;
      position: absolute;
      border: none;
    }
  }
}

@media (max-width: 1024px) {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .contact-wrapper {
        text-align: left;
        width: 100%;
        height: 570px !important;

        .container {
          max-width: 98%;
        }

        .loader {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -50px;
          margin-left: -100px;
          z-index: 1;
        }

        br {
          display: none;
        }

        .anchor4 {
          width: 30px;
          height: 30px;
          position: absolute;
          bottom: 650px;
        }
        .title {
          font-family: Rubik;
          font-style: normal;
          font-weight: normal;
          text-align: left;
          color: #002e6d;
          left: 290px !important;
          font-size: 36px;
          line-height: 40px;
          width: 100%;
          margin-top: -50px;
          margin-bottom: 0px;
          // margin-top: 0px !important;
          // margin-bottom: 0px !important;
        }

        .text {
          font-family: Rubik;
          font-style: normal;
          width: 600px !important;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center !important;
          margin-top: 25px;
          margin-left: 200px !important;
          left: 150px !important;
          margin-right: -100px;
          display: block;
          color: #303030;
          margin-bottom: 10px;
        }
        p {
          color: #303030;
          text-align: left;
          padding-right: 10px;
          margin-top: 20px;
          width: 100%;
        }

        .form-wrapper {
          width: 100%;
          // margin-left: 5px !important;

          input {
            border: 1px solid #92afd6;
            color: #92afd6;
            width: 97% !important;
          }

          textarea {
            width: 97% !important;

            resize: none;
            height: 161px;
            border: 1px solid #92afd6;
            color: #92afd6;
          }

          p {
            color: #888888;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
          }
          .form-button {
            width: 100%;
            background: #3b358a;
            color: white;
            height: 50px;
            margin-top: -0px;
            border-radius: 8px;
            border: none;

            span {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .contact-wrapper {
    text-align: left;
    width: 100%;
    height: 480px;

    .container {
      max-width: 98%;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    br {
      display: none;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 650px;
    }
    .title {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      color: #002e6d;
      left: 200px !important;
      font-size: 36px;
      line-height: 40px;
      width: 100%;
      margin-top: -30px;
      margin-bottom: 35px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      width: 323px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center !important;
      margin-top: 25px;
      margin-left: -70px !important;
      display: block;
      color: #303030;
      margin-bottom: 10px;
    }
    p {
      color: #303030;
      text-align: left;
      padding-right: 10px;
      margin-top: 20px;
      width: 100%;
    }

    .form-wrapper {
      width: 100%;

      input {
        border: 1px solid #92afd6;
        color: #92afd6;
        width: 95% !important;
      }

      textarea {
        width: 95% !important;

        resize: none;
        height: 161px;
        border: 1px solid #92afd6;
        color: #92afd6;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
      }
      .form-button {
        width: 100%;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        border: none;

        span {
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    height: 580px;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 700px;
    }
    .title {
      text-align: center;
      color: #002e6d;
      position: absolute;
      margin-left: 420px;
      width: 300px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      position: absolute;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #303030;
      width: 659px;
      margin-left: 240px;
      top: 150px;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 80px;
      margin-left: 150px;
      width: 700px;
    }

    .form-wrapper {
      position: absolute;
      margin-left: 200px;
      top: 250px;
      width: 100%;

      input {
        width: 751px;
      }

      textarea {
        resize: none;
        width: 751px;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    max-height: 580px !important;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 700px;
    }
    .title {
      text-align: left !important;
      color: #002e6d;
      position: absolute;
      margin-left: 0 !important;
      left: 10px !important;
      width: 300px;
      margin-top: 20px;
      font-weight: 400;
      font-size: 35px;
      line-height: 45px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px !important;
      left: 20px !important;
      line-height: 22px !important;
      text-align: left !important;
      color: #303030;
      margin-left: -5px !important;
      top: 70px;
      width: 323px !important;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 60px;
      margin-left: 0 !important;
      width: 100% !important;
    }

    .form-wrapper {
      margin-left: 0;
      top: 200px;
      width: 97% !important;

      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
          .invalid-email {
            font-size: 17px;
            margin-top: -22px;
            margin-left: -160px;
            font-weight: bold;
            color: #ffae13;
            position: absolute;
          }
        }
      }

      .invalid-email {
        font-size: 17px;
        margin-top: -22px;
        margin-left: -180px;
        font-weight: bold;
        color: #ffae13;
        position: absolute;
      }

      input {
        width: 90%;
      }

      textarea {
        resize: none;
        width: 90%;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    max-height: 530px;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 700px;
    }
    .title {
      text-align: left;
      color: #002e6d;
      position: absolute;
      margin-left: 100px;
      right: -120px;
      width: 300px;
      font-weight: 400;
      font-size: 35px;
      line-height: 45px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      left: 100px;
      line-height: 30px;
      text-align: left;
      color: #303030;
      margin-left: 200px;
      top: 70px;
      width: 90vw;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 60px;
      margin-left: 150px;
      width: 700px;
    }

    .form-wrapper {
      margin-left: 0;
      top: 200px;
      width: 100%;

      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
          .invalid-email {
            font-size: 17px;
            margin-top: -22px;
            margin-left: -160px;
            font-weight: bold;
            color: #ffae13;
            position: absolute;
          }
        }
      }

      .invalid-email {
        font-size: 17px;
        margin-top: -22px;
        margin-left: -180px;
        font-weight: bold;
        color: #ffae13;
        position: absolute;
      }

      input {
        width: 90%;
      }

      textarea {
        resize: none;
        width: 90%;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    height: 570px;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 700px;
    }
    .title {
      text-align: left;
      color: #002e6d;
      position: absolute;
      margin-left: 0;
      left: 10px;
      width: 300px;
      font-weight: 400;
      font-size: 35px;
      line-height: 45px;
    }

    .text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      // left: 20px;
      line-height: 30px;
      text-align: left;
      color: #303030;
      margin-left: 0;
      top: 70px;
      width: 90vw;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 60px;
      margin-left: 150px;
      width: 700px;
    }

    .form-wrapper {
      margin-left: 0;
      top: 200px;
      width: 100%;

      input {
        width: 90%;
      }

      textarea {
        resize: none;
        width: 90%;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}
