@media (min-width: 1000px) {
  .contact-wrapper {
    text-align: center;
    width: 100%;
    height: 530px;

    .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 100px;
    }
    .title {
      text-align: center;
      color: #002e6d;
      position: absolute;
      left: 500px;
      width: 300px;
      font-weight: 400;
      font-size: 55px;
    }

    p {
      color: #303030;
      text-align: center;
      margin-top: 80px;
      margin-left: 150px;
      width: 700px;
    }

    .form-wrapper {
      position: absolute;
      left: 280px;
      top: 100px;
      width: 100%;

      input {
        width: 751px;
      }

      textarea {
        resize: none;
        width: 751px;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        position: absolute;
        line-height: 30px;
      }
      .form-button {
        width: 208px;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        position: absolute;
        border: none;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .contact-wrapper {
    text-align: left;
    width: 100%;

     .anchor4 {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 550px;
    }
    .title {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      color: #002e6d;
      left: 500px;
      font-size: 36px;
      line-height: 40px;
      width: 100%;
      margin-top: -0px;
      margin-bottom: 35px;
    }
    p {
      color: #303030;
      text-align: left;
      padding-right: 10px;

      margin-top: 20px;
      width: 100%;
    }

    .form-wrapper {
      top: 100px;
      width: 100%;

      input {
      }

      textarea {
        resize: none;
        height: 161px;
      }

      p {
        color: #888888;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
      }
      .form-button {
        width: 100%;
        background: #3b358a;
        color: white;
        height: 50px;
        margin-top: -0px;
        border-radius: 8px;
        border: none;

        span {
        }
      }
    }
  }
}
