@media (max-width: 450px) {
  .jayz {
    text-align: left;
    width: 100%;

    .inner-wrapper {
      text-align: left;
      width: 100%;
      // height: 210px;

      .title {
        text-align: left;
        color: #002e6d;
        left: 500px;
        width: 100%;
        //styleName: h2;
        font-family: Rubik;
        font-size: 36px;
        line-height: 40px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
      }

      .quote {
        color: #475ba1;
        font-size: 30px;
        text-align: left;
        left: 300px;
        width: 100%;
        line-height: 36px;
      }

      .jayz {
        color: #475ba1;
        text-align: left;
        left: 300px;
        margin-top: 40px;
        font-size: 30px;
        line-height: 36px;
        width: 700px;
      }

      .text-row4 {
      text-align: left;
      right: 100px;
      top: 640px;
      color: #ff9b00;
      cursor: pointer;

      i {
        margin-left: 13px;
      }
    }
    }
  }
}

@media (min-width: 1000px) {
  .jayz {
    text-align: center;
    width: 100%;

    .inner-wrapper {
      text-align: center;
      width: 100%;
      height: 800px;

      .image-wrapper {
        margin-left: -250px;
        margin-top: -150px;
        width: 85%;
      }

      .quote-wrapper {
        position: absolute;
        right: 10px;
        left: 800px;
        top: 80px;

        .title {
          text-align: center;
          color: #002e6d;
          width: 100%;
          left: 8px;
          font-family: Rubik;
          font-size: 36px;
          line-height: 40px;
          font-style: normal;
          position: absolute;
          font-weight: 400;
          text-align: center;
        }

        .quote {
          color: #475ba1;
          font-size: 30px;
          text-align: center;
          margin-top: 50px;
          left: 400px;
          width: 400px;
          line-height: 36px;
        }

        .jayz {
          color: #475ba1;
          text-align: center;
          margin-top: -10px;
          font-size: 30px;
          line-height: 36px;
          width: 700px;
          right: 10px;
          left: -160px;
          position: absolute;
        }
      }
    }
    .text-row1 {
      width: 590px;
      position: absolute;
      text-align: left;
      right: 100px;
      top: 310px;
      color: #303030;
    }
    .text-row2 {
      width: 590px;
      position: absolute;
      text-align: left;
      right: 100px;
      top: 410px;
      color: #303030;
    }
    .text-row3 {
      width: 590px;
      position: absolute;
      text-align: left;
      right: 100px;
      top: 510px;
      color: #303030;
    }
    .text-row4 {
      width: 590px;
      position: absolute;
      text-align: left;
      right: 100px;
      top: 640px;
      color: #ff9b00;
      cursor: pointer;

      i {
        margin-left: 13px;
      }
    }
  }
}
