@media (min-width: 1000px) {
  .individual-form-wrapper {
    text-align: center;
    width: 100%;
    height: 80vh;

    .form {
      width: 45%;
      text-align: center;
      margin: auto;
      margin-top: 150px;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .individual-form-wrapper {
    text-align: center;
    width: 100%;
    height: 80vh;

    .form {
      width: 95%;
      text-align: center;
      margin: auto;
      margin-top: 150px;

      button {
        width: 100%;
      }
    }
  }
}
