@media (min-width: 1000px) {
  .hero-section-wrapper {
    background-color: #f7f7f7;
    height: 820px;

    .title {
      width: 791px;
      top: 5;
      color: #002e6d;
      font-size: 80px;
      position: relative;

      .blue-text {
        font-family: Rubik;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
        color: #002e6d;
      }

      p {
        color: #ffae13;

        .blue-text {
          font-family: Rubik;
          font-size: 80px;
          font-style: normal;
          font-weight: 400;
          line-height: 100px;
          letter-spacing: 0em;
          text-align: left;
          color: #002e6d;
        }
      }

      .bold-text {
        font-weight: 700;
        margin-top: 60px;
      }

      .share {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
      }

      .typing-effect {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .hero-text {
      position: absolute;
      width: 750px;
      left: 0px;
      bottom: -60px;
      color: #303030;
    }

    .form-wrapper {
      position: absolute;
      bottom: 100px;
      top: 10px;
    }
    .form-control {
      height: 50px;
      width: 670px !important;
      border-radius: 8px;
    }

    button {
      height: 50px;
      width: 208px;
      position: absolute;
      left: 520px;
      color: #002e6d;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      border: none;
    }
    i {
      margin-left: 10px;
    }

    .login {
      color: #303030;
      position: absolute;
      bottom: -112px;
      span {
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
        color: #ffae13;
      }
    }

    .anchors {
      display: inline-flex;
      position: absolute;
      bottom: -140px;
      .rideshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 30px;
        cursor: pointer;
      }
      .carshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 400px) {
  .hero-section-wrapper {
    background-color: #f7f7f7;
    height: 840px;
    .title {
      width: 360px;
      color: #002e6d;
      font-family: Rubik;
      font-style: normal;
      font-size: 40px;
      font-weight: normal;

      .blue-text {
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        // line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
        color: #002e6d;
      }

      p {
        font-size: 40px;
                color: #ffae13;

        .blue-text {
          font-family: Rubik;
          font-size: 40px;
          font-style: normal;
          // line-height: 100px;
          text-align: left;
          color: #002e6d;
        }
      }

      .bold-text {
        font-weight: 400;
        color: #002e6d;
        display: inline-flex;
        font-size: 40px;
      }

      .share {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
      }

      .typing-chunk {
        color: #f7f7f7;
        font-size: 40px;
      }

      .typing-effect {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .hero-text {
      // margin-top: -60px;
    }
    .form-wrapper {
      width: 334px;
      top: 10px;
    }
    .form-control {
      height: 334px;
      border-radius: 8px;
      margin-top: -30px;
    }

    button {
      width: 334px;
      height: 50px;
      background-color: #ffae13;
      border-radius: 8px;
      border: none;
    }
    i {
      margin-left: 10px;
    }

    .login {
      color: #303030;
      margin-top: 10px;
      span {
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
        color: #ffae13;
      }
    }

     .anchors {
      display: block;
      .rideshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 30px;
        cursor: pointer;
      }
      .carshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
      }
    }
    .see-how-text {
      text-decoration: underline;
    }
  }
  .see-how-stable-works {
    margin: auto;
  }
}
