@media (min-width: 1025px) {
  .hero-section-wrapper {
    background: linear-gradient(251.6deg, #5b84c4 60.73%, #3b358a 90.24%);
    height: 720px;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .hero-modal-button {
      background: blue !important;
    }

    .button {
      background: #3b358a;
      border-radius: 8px;
      width: 334px;
      margin-top: 20px;
      height: 50px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      outline: none;
      border: none;
      color: #f7f7f7 !important;
    }

    .image {
      width: 130%;
      margin-left: -30px;
      margin-top: -110px;
    }
    .scroll-to-top {
      position: fixed;
      bottom: 50;
      right: 30;
      cursor: pointer;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
    }

    .title {
      width: 791px;
      top: 5;
      color: #f7f7f7;
      font-size: 80px;
      position: relative;
      font-size: 70px;
      line-height: 85px;

      .blue-text {
        font-family: Rubik;
        font-size: 70px;
        line-height: 85px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #f7f7f7;
      }

      p {
        color: #ffae13;
        font-size: 70px;
        line-height: 85px;

        .blue-text {
          font-family: Rubik;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0em;
          text-align: left;
          font-size: 70px;
          line-height: 85px;
          color: #f7f7f7;
        }
      }

      .bold-text {
        font-weight: 400;
        font-size: 70px;
        line-height: 85px;
        margin-top: 60px;
      }

      .share {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
      }

      .typing-effect {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    @-moz-document url-prefix() {
      .hero-text {
        margin-bottom: -30px;
      }

      .form-wrapper {
        position: absolute;
        margin-top: 30px;
        padding-top: 20px;
      }

      .login {
        color: #f7f7f7;
        position: absolute;
        margin-bottom: -10px;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;

        span {
          font-family: Rubik;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          cursor: pointer;
          color: #ffae13;
        }
      }
    }

    .hero-text {
      position: absolute;
      width: 750px;
      left: 0px;
      bottom: -60px;
      color: #f7f7f7;
      font-size: 20px;
      line-height: 30px;
    }

    .form-wrapper {
      position: absolute;
      bottom: 100px;
      top: 10px;
      padding-top: 20px;
    }
    .form-control {
      height: 50px;
      width: 670px !important;
      border-radius: 8px;
      color: #92afd6;
    }

    button {
      height: 50px;
      width: 208px;
      position: absolute;
      left: 520px;
      color: #f6f6f6;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      border: none;
    }
    i {
    }

    .login {
      color: #f7f7f7;
      position: absolute;
      bottom: -200px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;

      span {
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
        color: #ffae13;
      }
    }

    .driver-report-mobile {
      position: absolute;
      visibility: hidden;
    }

    .anchors {
      display: inline-flex;
      position: absolute;
      bottom: -160px;
      .rideshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 30px;
        cursor: pointer;
      }
      .carshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero-section-wrapper {
    background: linear-gradient(1.76deg, #5b84c4 37.18%, #3b358a 71.78%);

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      z-index: 1;
    }

    .image {
      display: none;
    }
    .title {
      // width: 100%;
      margin-left: -5px;
      color: #f7f7f7;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-family: Rubik;
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;

      .blue-text {
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        // line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
        color: #f7f7f7;
      }

      p {
        font-size: 40px;
        color: #ffae13;

        .blue-text {
          font-family: Rubik;
          font-size: 40px;
          font-style: normal;
          // line-height: 100px;
          text-align: left;
          color: #f7f7f7;
        }
      }

      .bold-text {
        font-weight: 400;
        color: #f7f7f7;
        display: inline-flex;
        font-size: 40px;
      }

      .bold-text-share {
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        // line-height: 100px;
        text-align: left;
        font-weight: 700;
        color: #ffae13;
      }

      .typing-chunk {
        color: #f7f7f7;
        font-size: 40px;
      }

      .typing-effect {
        color: #ffae13;
        font-family: Rubik;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .hero-text {
      width: 100%;
      color: #f7f7f7;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin-top: -10px;
    }
    .form-wrapper {
      width: 100%;
      top: 10px;
    }
    .form-control {
      height: 100%;
      border-radius: 8px;
      margin-top: -30px;
      color: #92afd6;
    }

    button {
      width: 100%;
      height: 50px;
      background: #3b358a;
      border-radius: 8px;
      border: none;
    }
    i {
    }

    br {
      display: none;
    }

    .login {
      color: #f7f7f7;
      margin-top: 10px;
      font-size: 16px;
      line-height: 22px;
      span {
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
        color: #ffae13;
      }
    }

    .driver-report-mobile {
      position: absolute;
      color: #ffae13;
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 20px;

      p {
        text-decoration: underline;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      }
    }

    .anchors {
      display: block;
      .rideshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 30px;
        cursor: pointer;
      }
      .carshare-text {
        text-decoration: underline;
        color: #ffae13;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
      }
    }
    .see-how-text {
      text-decoration: underline;
    }
  }
  .see-how-stable-works {
    margin: auto;
  }
}
