@media (min-width: 1025px) {
  .footer-wrapper {
    height: 270px;
    .contact-wrapper {
      text-align: left;
      display: inline-flex;
      position: absolute;
      right: 1025px;
      top: 100px;

      .item1 {
        width: 400px;
        margin-right: -20px;

        i {
          color: #92afd6;
          margin-right: -5px;
        }
      }
      .item2 {
        width: 400px;
        margin-right: -160px;
        z-index: 1;
        i {
          color: #92afd6;

          margin-right: -4px;
        }
      }
      .item3 {
        width: 400px;
        margin-top: 2px;
        z-index: 1;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }

      .item4 {
        width: 150px;
        height: 30px;
        margin-left: 80px;
        margin-top: 9px;
        cursor: pointer;
        z-index: 1;

        i {
          color: #92afd6;
          margin-right: -5px;
        }
      }
      .item5 {
        height: 30px;
        width: 400px;
        margin-left: -30px;
        margin-top: 10px;
        cursor: pointer;
        z-index: 1;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 30px;
      font-size: 35px;

      p {
        font-size: 17px;
        text-align: left;
      }
    }

    .socials {
      top: 23px;
      right: 0px;
      position: absolute;
      cursor: pointer;
      z-index: 1;

      a {
        cursor: pointer;
      }

      i {
        color: #92afd6;
        font-size: 2em;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1400px) {
  .footer-wrapper {
    height: 302px;
    .contact-wrapper {
      margin-top: 30px;

      .item1 {
        width: 400px;
        margin-left: 80px;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item2 {
        width: 400px;
        margin-right: -160px;
        i {
          color: #92afd6;

          margin-right: -4px;
        }
      }
      .item3 {
        width: 400px;
        margin-top: 2px;
        margin-left: 100px;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item4 {
        width: 400px;
        margin-left: -130px;
        margin-top: 7px;
        cursor: pointer;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item5 {
        width: 400px;
        margin-top: 9px;
        margin-left: -30px;

        cursor: pointer;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 50px;
      font-size: 35px;
      margin-left: -450px;

      p {
        font-size: 15px;
        text-align: center;
      }
    }

    .socials {
      text-align: left;

      i {
        font-size: 2.5em;
      }
    }
  }
}

@media (max-width: 780px) {
  .footer-wrapper {
    height: 442px;

    .container {
      max-width: 100%;
    }

    .contact-wrapper {
      margin-top: 30px;


      .item1 {
        display: inline-flex;
        width: 310px;
        margin-left: -510px !important;
        
        text-align: left;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item2 {
        width: 400px;
        margin-right: -0;
        margin-left: -510px !important;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -4px;
        }
      }
      .item3 {
        width: 400px;
        margin-top: 2px;
        margin-left: -510px !important;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item4 {
        width: 400px;
        margin-left: -540px !important;
        margin-top: 130px;
        text-align: left;
        cursor: pointer;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item5 {
        width: 400px;
        margin-top: 10px;
        margin-left: -540px !important;
        text-align: left;

        cursor: pointer;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 45px;
      font-size: 35px;
        margin-left: -500px;

      p {
        font-size: 15px;
        text-align: center;
      }
    }

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .copyright-text {
          width: 100%;
          margin-top: 40px;
          font-size: 35px;
        margin-left: -200px !important;

          p {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }

    .socials {
      text-align: left;
      margin-top: -470px;
      margin-right: 60px;
      margin-left: 0 !important;

      i {
        font-size: 2.5em;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer-wrapper {
    height: 442px;

    .container {
      max-width: 100%;
    }

    .contact-wrapper {
      margin-top: 30px;

      .item1 {
        display: inline-flex;
        width: 310px;
        margin-left: -550px;
        
        text-align: left;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item2 {
        width: 400px;
        margin-right: -0;
        margin-left: -550px;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -4px;
        }
      }
      .item3 {
        width: 400px;
        margin-top: 2px;
        margin-left: -550px;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item4 {
        width: 400px;
        margin-left: -580px;
        margin-top: 130px;
        text-align: left;
        cursor: pointer;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item5 {
        width: 400px;
        margin-top: 10px;
        margin-left: -580px;
        text-align: left;

        cursor: pointer;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 45px;
      font-size: 35px;
        margin-left: -500px;

      p {
        font-size: 15px;
        text-align: center;
      }
    }

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .copyright-text {
          width: 100%;
          margin-top: 40px;
          font-size: 35px;
        margin-left: -230px;

          p {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }

    .socials {
      text-align: left;
      margin-top: -470px;
      margin-left: 0px;

      i {
        font-size: 2.5em;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer-wrapper {
    height: 442px;
    .contact-wrapper {
      margin-top: 30px;

      .item1 {
        display: inline-flex;
        width: 310px;
        margin-left: 0 !important;
        text-align: left;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item2 {
        width: 400px;
        margin-right: -0;
        margin-left: 0 !important;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -4px;
        }
      }
      .item3 {
        width: 400px;
        margin-top: 2px;
        margin-left: 0 !important;
        text-align: left;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item4 {
        width: 400px;
        margin-left: -33px !important;
        margin-top: 130px;
        text-align: left;
        cursor: pointer;
        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
      .item5 {
        width: 400px;
        margin-top: 10px;
        margin-left: -33px !important;
        text-align: left;

        cursor: pointer;

        i {
          color: #92afd6;

          margin-right: -5px;
        }
      }
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 25px;
      font-size: 35px;
      margin-left: -10px;

      p {
        font-size: 15px;
        text-align: center;
      }
    }

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .copyright-text {
          width: 100%;
          margin-top: 40px;
          font-size: 35px;
          margin-left: -30px !important;

          p {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }

    .socials {
      text-align: left;
      margin-top: -510px;
      margin-right: 30px;

      i {
        font-size: 2.5em;
      }
    }
  }
}


.terms-wrapper {
  padding: 30px;
}

.policy-wrapper {
  padding: 30px;
}
