@media (max-width: 450px) {
  .footer-wrapper {
    .contact-wrapper {
    }

    .copyright-wrapper {
      display: block;
      width: 100%;
    }

    .copyright-text {
      width: 100%;
      margin-top: 30px;
      font-size: 35px;

      p {
        font-size: 17px;
        text-align: left;
      }

    }

    .socials {
      text-align: left;

      i {
        font-size: 2em;
      }
    }
  }
}
