.header-button-wrapper {
  padding: 0 110px;
  button {
    width: 60%;
    height: 10.1vh;
    background-color: #ffae13;
    border-radius: 8px;
    border: none;
  }

  .modal-button {
    background-color: darkblue;
  }
}
