@media (max-width: 450px) {
  .header-wrapper {
    background: blue;

    .back-to-top {
      position: fixed;
      background: #475BA1;
      color: white;
      border: none;
      width: 50px;
      bottom: 50px;
      text-align: center;
      // width: 20px;
      font-weight: 400;
      height: 50px;
      right: 20px;
      font-size: 30px;
      border-radius: 50%;

      i {
        margin-right: -15px;
        margin-top: -5px;
      }

      p {
        margin-left: -15px;
        margin-bottom: -3px;
        // font-size: 35px;

      }
    }
  }
}

@media (min-width: 500px) {
  .header-wrapper {
    background: blue;

    .back-to-top {
      position: fixed;
      background: #475BA1;
      color: white;
      border: none;
      bottom: 10px;
      width: 40px;
      font-weight: 400;
      height: 40px;
      right: 20px;
      font-size: 30px;
      border-radius: 100px;

      p {
        margin-bottom: -1px;
      }
    }
  }
}
