@media (max-width: 450px) {
  .header-wrapper {
    background: blue;

    .back-to-top {
      position: fixed;
      background: #ffae13;
      color: #002e6d;
      border: none;
      width: 10px;
      bottom: 50px;
      text-align: center;
      // width: 20px;
      font-weight: 400;
      height: 50px;
      right: 20px;
      font-size: 30px;
      border-radius: 6px;

      p {
        margin-left: -15px;
        margin-bottom: -3px;
        // font-size: 35px;

      }
    }
  }
}

@media (min-width: 500px) {
  .header-wrapper {
    background: blue;

    .back-to-top {
      position: fixed;
      background: #ffae13;
      color: #002e6d;
      border: none;
      bottom: 10px;
      width: 50px;
      font-weight: 400;
      height: 50px;
      right: 20px;
      font-size: 30px;
      border-radius: 6px;
    }
  }
}
